.navbar-default {
    background-color: #99B898;
    border-color: black;
}

.navbar-default .navbar-nav>li>a {
    color: #E84A5F;
}

.navbar-default .navbar-brand {
    color:#FF847C;
}

/*jumbotron start*/
.btn-primary {
    color: #857E8E;
    background-color: #376976;
    border-color: #90B3AA;
}

/*jumbotron ends*/

/*footer styles*/
footer{
  height:200px;
  width:100%;
  background-color: #2A363B;
  clear:both;
}

.copyright p{
  margin: 0;
  text-align: center;
  padding: 30px 0;
  color: #fff;
}

.sm-icons{
  width:180px;
  height:50px;
  margin: 0 auto;
}

.icon{
  height: 50px;
  width:50px;
  background-color: #fff;
  float: left;
  margin: 0 5px;
  border-radius: 100%;
}

.icon i{
  font-size: 2em;
  color: #333;
  padding: 10px;
}
